page-home {

}

.titulo {
	float: left;
}

.fondo {
	text-align: center;
}

.logo {

	float: left;
}

.boton {
	margin: 10%;
}

.redes {
	color: #0c121d;
	border-radius: 200px;
	width: 60px;
	height: 60px;
	border: 2px solid #0c121d;
	padding-top: 10px;
	font-size: 35px;
	float: left;
	margin-left: 10px;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}