<ion-header>
	<ion-toolbar>
		<div  class="aligner">
			<img src="assets/imgs/yvkelogo2.png" height="20" class="logo">
			<ion-title class="titulo" >RADIO EN VIVO</ion-title>		
		</div>
	</ion-toolbar>
</ion-header>
<ion-content padding class="fondo">
	<ion-grid>
		<ion-row>
			<ion-col col-12>
				<audio id="reproductor" src="http://190.9.128.238:8080/mundialmerida" autoplay type="audio/mp3" ></audio>
				<img src="assets/imgs/logo-chispa.png" alt="" width="160">
				<a href="#" id="player">
					<div id="con-btn-play" class="boton animated flip">
						<img src="assets/imgs/btn-pause.png" width="60" >
					</div>
				</a>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-sm-4 class="aligner">
				<a href="https://www.instagram.com/lachispaj/?hl=es-la">
					<div class="redes">
						<i class="icon-instagram" ></i>
					</div>
				</a>
			</ion-col>
			<ion-col col-sm-4 class="aligner">
				<a href="https://twitter.com/lachispaj">
					<div class="redes">
						<i class="icon-twitter" ></i>
					</div>
				</a>
			</ion-col>
			<ion-col col-sm-4 class="aligner">
				<a href="https://www.facebook.com/LaChispaJ/">
					<div class="redes">
						<i class="icon-facebook2" ></i>
					</div>
				</a>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<a href="sms:04169051601" ion-button full color="secondary" large>
					<i class="icon-mail4" ></i>&nbsp;&nbsp;Escríbenos
				</a>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
